@media screen and (min-width: 576px) {
  .navbar-custom {
    height: 75px;
  }

  .nav-input {
    width: 265px;
  }

  .address-header {
    font-size: 28px;
  }

  .info-text {
    font-size: 36px;
  }

  .bookmark-btn {
    font-size: 32px;
    margin-left: 0.5rem;
  }

  .nav-bookmark-btn {
    top: 11px;
  }

  .bookmark-header {
    font-size: 26px;
  }
}
